# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
passcode
kotlin_server.iml
.gradle/
build/
gradle/
KotlinServer.iml
src/test/
将删除 KotlinServer.iml
将删除 src/test/
src/main/kotlin/cn/tursom/test.kt
将删除 classes/
将删除 src/main/kotlin/META-INF/
classes
src/main/kotlin/META-INF/
