# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
passcode
kotlin_server.iml
.gradle/
build/
classes
gradle/
KotlinServer.iml
src/main/kotlin/META-INF/
gradlew
将删除 classes/
将删除 test.db
