# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
passcode
kotlin_server.iml
.gradle/
build/
gradle/
KotlinServer.iml
将删除 KotlinServer.iml
